{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
    body{
        background-image: url({% static 'images/background_profile.jpg' %});
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style> 
<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumb profile-block" style="margin-top: -5px;">
            <li><a href="/">Home</a>
            </li>
            <li>Design Details</li>
        </ul>
    </div>
    <div class="col-md-3" style="margin-top: 10px">
        {% include "designer/base_designer.html" %}
    </div>
    <div class="col-md-9" style="margin-top: 10px">
        <div class="row box" id="productMain">
            <div class="col-sm-6" id="id_avatar_img">
                <img src="{{ design.avatar.url }}" id="image_detail_id" alt="" data-imagezoom="true" data-zoomviewsize="[380,550]" class="img-responsive" style="height: 700px; border-radius: 5px; cursor: pointer;">
            </div>
            <div class="col-sm-6">
                <div class="box" style="text-align: center;">
                    <h3 class="text-center">{{ design.name }}&nbsp;&nbsp;<a href="{% url 'edit_design' design.id %}"><i class="fa fa-pencil" style="color: grey; font-size: 22px;"></i></a></h3>
                    <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, features & categories</a></p>
                    <p class="price" style="font-size: 20px; margin-top: -15px;"><i class="fa fa-rupee" style="font-size: 20px;"></i>{{ design.price }}</p>

                    <h5><i class="fa fa-eye"></i> No of Views : {{ design.no_of_views }}</h5>
                    <h5 style="text-align: center; margin-top: 20px;">Available Sizes</h5>
                    {% for size in design.size.all %}
                        <span style="font-size: 14px;">{{ size.name }}&nbsp;</span>
                    {% endfor %}<br><br>
                    {% if design.stock %}
                        <span style="font-size: 15px;">In Stock</span>&nbsp;&nbsp;<img src="{% static 'images/instock.png' %}" height="20" width="20">
                    {% else %}
                       <span style="font-size: 15px;">Out Of Stock</span>&nbsp;&nbsp;<img src="{% static 'images/close.png' %}" height="20" width="20">
                    {% endif %} 
                </div>
                <div class="row img-hover" id="thumbs">
                    {% if design.avatar %}
                        <div class="col-xs-4">
                            <img data-avatar="{{ design.avatar.url }}" src="{{ design.avatar.url }}" alt="" style="height: 126px; width: 97px; cursor: pointer;">
                        </div>
                    {% endif %}
                    {% if design.avatar_1 %}
                        <div class="col-xs-4">
                            <img data-avatar="{{ design.avatar_1.url }}" src="{{ design.avatar_1.url }}" alt="" style="height: 126px; width: 97px; cursor: pointer;">
                        </div>
                    {% endif %}
                    {% if design.avatar_2 %}  
                        <div class="col-xs-4">
                            <img data-avatar="{{ design.avatar_2.url }}" src="{{ design.avatar_2.url }}" alt="" style="height: 126px; width: 97px; cursor: pointer;">
                        </div>
                    {% endif %}
                </div>
                <div class="row img-hover" id="thumbs" style="margin-top: 8px;">
                    {% if design.avatar_3 %}  
                        <div class="col-xs-4">
                            <img data-avatar="{{ design.avatar_3.url }}" src="{{ design.avatar_3.url }}" alt="" style="height: 126px; width: 97px; cursor: pointer;">
                        </div>
                    {% endif %}
                    {% if design.avatar_4 %}  
                        <div class="col-xs-4">
                            <img data-avatar="{{ design.avatar_4.url }}" src="{{ design.avatar_4.url }}" alt="" style="height: 126px; width: 97px; cursor: pointer;">
                        </div>
                    {% endif %}
                    {% if design.avatar_5 %}   
                        <div class="col-xs-4">
                            <img data-avatar="{{ design.avatar_5.url }}" src="{{ design.avatar_5.url }}" alt="" style="height: 126px; width: 97px; cursor: pointer;">
                        </div>
                    {% endif %}    
                </div>
            </div>
        </div>
        <div class="box" id="details">
            <h4>Product details</h4>
            <blockquote>
                <p><em>{{ design.details }}</em></p>
            </blockquote>
            <h4>Categories</h4>
                {% for types in design.design_type.all %}
                    <li>{{ types.types }}</li>
                {% endfor %}
            <hr>
            <h4><strong>Feedbacks</strong></h4>
            <hr>
            {% for feedback in all_feedbacks %}
                <div class="row" style="margin-bottom: 12px;">
                    <div class="col-sm-2">
                        <img src="{% if feedback.buyer.avatar %}{{ feedback.buyer.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" style="height: 50px; width: 50px; border-radius: 50px; margin: 10px;"><br>
                        <span class="tag label label-info" style="margin-top: 10px;">{{ feedback.buyer }}</span><br>
                        <small style="color: grey; font-size: 10px;">{{ feedback.created|date:"M d, Y" }}</small>

                    </div>
                    <div class="col-sm-8" style="text-align: justify;">
                        <h5><strong>{{ feedback.title }}</strong></h5>
                        {{ feedback.reviews }}
                    </div>
                    <div class="col-sm-2">
                        <span class="tag label label-success">{{ feedback.rating }}&nbsp;<i class="fa fa-star" aria-hidden="true" style="font-size: 10px;"></i></span>
                    </div>
                </div>
                <hr>   
            {% empty %}
                <div class="row">
                    <h3 class="text-center" style="color: lightgrey;">No Feedback Yet</h3>   
                </div>
            {% endfor %}
            <div class="social">
                <h4>Show it to your friends</h4>
                <p>
                    <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>    

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/imagezoom.js' %}"></script>

    <script type="text/javascript">
    var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36251023-1']);
      _gaq.push(['_setDomainName', 'jqueryscript.net']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    $(document).ready(function() {
        $('[data-avatar]').hover(function(e) {
            $('#image_detail_id').attr('')
            e.preventDefault();
            $("#id_avatar_img").find("img").attr("src", $(this).attr("src")); 
        });
    });    
      
    </script>

{% endblock %}
