{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
    #toggle {
        width: 40px;
    }
</style>

<!-- mobile-view-->
<div class="container-fluid visible-xs">
    <div class="row">
        <div class="col-xs-12" id="mb_id_avatar_img">
            <img src="{{ design.avatar.url }}" id="mb_image_detail_id" alt="" class="img-responsive" data-imagezoom="true" data-zoomviewsize="[500,575]"  style="height: 400px; width: 100%; cursor: pointer;">
        </div>
    </div>
    <div class="row img-hover" id="thumbs" style="margin-top: 20px;">
        {% if design.avatar %}
            <div class="col-xs-4">
                <img data-avatar="{{ design.avatar.url }}" src="{{ design.avatar.url }}" alt="" style="height: 126px; width: 100%; cursor: pointer;">
            </div>
        {% endif %}
        {% if design.avatar_1 %}
            <div class="col-xs-4">
                <img data-avatar="{{ design.avatar_1.url }}" src="{{ design.avatar_1.url }}" alt="" style="height: 126px;  width: 100%; cursor: pointer;">
            </div>
        {% endif %}
        {% if design.avatar_2 %}  
            <div class="col-xs-4">
                <img data-avatar="{{ design.avatar_2.url }}" src="{{ design.avatar_2.url }}" alt="" style="height: 126px;  width: 100%; cursor: pointer;">
            </div>
        {% endif %}
    </div>
    <div class="row img-hover" id="thumbs" style="margin-top: 8px;">
        {% if design.avatar_3 %}  
            <div class="col-xs-4">
                <img data-avatar="{{ design.avatar_3.url }}" src="{{ design.avatar_3.url }}" alt="" style="height: 126px; width: 100%; cursor: pointer;">
            </div>
        {% endif %}
        {% if design.avatar_4 %}  
            <div class="col-xs-4">
                <img data-avatar="{{ design.avatar_4.url }}" src="{{ design.avatar_4.url }}" alt="" style="height: 126px;width: 100%; cursor: pointer;">
            </div>
        {% endif %}
        {% if design.avatar_5 %}   
            <div class="col-xs-4">
                <img data-avatar="{{ design.avatar_5.url }}" src="{{ design.avatar_5.url }}" alt="" style="height: 126px; width: 100%; cursor: pointer;">
            </div>
        {% endif %}    
    </div> 
    <div class="row box" style="margin-top: 20px;">
        <div class="col-xs-12">
            <div class="row">
                <h5 class="pull-left">{{ design.name|title }}</h5>
            </div>
            <div class="row">
                <div class="pull-left">
                    <h5 class="text-muted"><strong><span class="tag label label-success" style="font-size: 12px;">3.5&nbsp;<i class="fa fa-star" aria-hidden="true" style="font-size: 11px;"></i></span>&nbsp;&nbsp;408 ratings and 600 reviews</strong></h5>
                </div>
                <div class="pull-right" style="margin-top: 6px;">
                    {% if request.user.is_authenticated %}
                        {% if role == 'buyer' %}
                            {% if design.buyer_set.all %}
                                <button type="button" class="btn btn-default btn-circle-y" id="mb_del_fav_{{ design.id }}" onclick="remove_from_favorite({{ design.id }})" style="float: right;"><i class="fa fa-heart" style="color:red; font-size: 18px; margin-top: 3px;"></i></button>
                                <button type="button" class="btn btn-default btn-circle-n"  id="mb_add_fav_{{ design.id }}" onclick="add_to_favorite({{ design.id }})" style="float: right; display: none;"><i class="fa fa-heart" style="color:grey; font-size: 18px; margin-top: 3px;"></i></button>
                            {% else %}
                                <button type="button" class="btn btn-default btn-circle-n"  id="mb_add_fav_{{ design.id }}" onclick="add_to_favorite({{ design.id }})" style="float: right;"><i class="fa fa-heart" style="color:grey; font-size: 18px; margin-top: 3px;"></i></button>
                                <button type="button" class="btn btn-default btn-circle-y" id="mb_del_fav_{{ design.id }}" onclick="remove_from_favorite({{ design.id }})" style="float: right; display: none;"><i class="fa fa-heart" style="color:red; font-size: 18px; margin-top: 3px;"></i></button>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <button type="button" class="btn btn-default btn-circle-n" data-toggle="tooltip" title="add to favorite" onclick="redirect_to_login()" style="float: right;"><i class="fa fa-heart" style="color:grey; font-size: 18px; margin-top: 3px;"></i></button>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <h5>
                    <i class="fa fa-rupee"></i><strong> {{ design.price }}</strong>
                    {% if design.stock %}
                        <span class="text-muted" style="font-size: 16px; margin-left: 20px;">Availabe</span>&nbsp;&nbsp;&nbsp;<img src="{% static 'images/instock.png' %}" height="20" width="20" style="margin-top: -6px;">
                    {% else %}
                       <span class="text-muted" style="font-size: 16px;  margin-left: 20px;">Out Of Stock</span>&nbsp;&nbsp;&nbsp;<img src="{% static 'images/close.png' %}" height="20" width="20" style="margin-top: -6px;">
                    {% endif %}
                </h5>
            </div>
            <div  class="row" style="margin-top: 30px;">
                <h4 class="text-muted"><strong>Available Sizes</strong>
                    <div style="margin-left: 10px; display: inline-block;">
                        {% for size in design.size.all %}
                            <button type="button" id="mb_id_{{ size.id }}" onclick="get_size({{ size.id }} )" class="btn btn-default btn-circle-n btn-sm">{{ size.name }}</button>&nbsp;
                        {% endfor %}
                        <div class="alert alert-danger" role="alert" id="mb_size_error" style="margin-top: 10px; display:none;">
                            <span>please select the size</span>
                        </div>
                    </div>    
                </h4>
            </div>
            <div class="row" style="margin-top: 30px;">
                <h4 class="text-muted"><strong>Category</strong>
                    <div style="margin-left: 144px; margin-top: -19px; font-size: 16px; line-height: 25px;">
                        {% for types in design.design_type.all %}
                            <li>{{ types.types }}</li>
                        {% endfor %}
                    </div>
                </h4>
            </div>
            <div class="row" style="margin-top: 30px;">
                <h4 class="text-muted"><strong>Designer</strong>
                    <div style="margin-left: 144px; margin-top: -19px; font-size: 16px; line-height: 25px;">
                        <a href="" style="text-decoration: none;"><strong>{{ design.designer|title }}</strong></a>
                    </div>
                </h4>
            </div>
            <div class="row" style="margin-top: 30px;">
                <h4 class="text-muted"><strong>Details</strong></h4>
                <div style="font-size: 14px; line-height: 25px; word-spacing: 3px; text-align: justify;">
                    <p><em>{{ design.details }}</em></p>
                </div>
            </div> 
        </div>    
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-6 pull-left">
            <button type="button" class="btn btn-warning btn-block {% if not design.stock %} disabled {% endif %}" onclick="add_to_cart({{ design.id }})" style="background-color: #ff9f00; border-color: #ff9f00; height: 40px; font-size: 10px; border-radius: 1px!important;"><strong><i class="fa fa-shopping-cart" aria-hidden="true"></i>ADD TO CART</strong></button>
        </div>
        <div class="col-xs-6 pull-right">
            <button type="button" class="btn btn-info btn-block {% if not design.stock %} disabled {% endif %}" onclick="add_to_cart_buy({{ design.id }})" style="background-color: #fb641b; border-color: #fb641b; height: 40px; font-size: 10px;border-radius: 1px!important;"><strong><i class="fa fa-bolt" aria-hidden="true"></i>BUY NOW</strong></button>
        </div>
    </div>
    <h4 class="review-header"><strong>Feedbacks</strong></h4>
    {% if role == 'buyer' %}
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-sm pull-right custom-btn" onclick="showReviewForm()"  style="margin-bottom: 10px; border-radius: 1px!important;"><i class="fa fa-plus" aria-hidden="true"></i>Submit Review</button>
            </div>
        </div>
        <div class="row box" id="mb_reviewform" style="margin-bottom: 12px; display: none;">
            <h4><strong>Rate this Design</strong></h4>
            <div class="modal-overlay" id="id_processing" style="position: fixed;">
                <img src="{% static 'images/spin.svg' %}"/>
            </div>
            <form action="{% url 'create_feedback' %}" id="id_feedback" onsubmit="return create_feedback($(this))" method="post">
                {% csrf_token %}
                <input type="hidden" name="design" value='{{ design.id }}'>
                <div class="form-group">
                    <section class="rating_radio">
                        <input type="radio" name="rating" class="rating" value="1" />
                        <input type="radio" name="rating" class="rating" value="2" />
                        <input type="radio" name="rating" class="rating" value="3" />
                        <input type="radio" name="rating" class="rating" value="4" />
                        <input type="radio" name="rating" class="rating" value="5" />
                    </section>
                    <small id="mb_id_rating_error" class="es-error"></small>
                </div>
                <hr>
                <h4><strong>Review this Design</strong></h4>
                <div class="form-group">
                    <label for="title">Title</label>
                    {{ form.title }}
                    <small id="mb_id_title_error" class="es-error"></small>
                </div>
                <div class="form-group">
                    <label for="reviews">Description</label>
                    {{ form.reviews }}
                    <small id="mb_id_reviews_error" class="es-error"></small>
                </div>
                <button type="Submit" class="btn btn-default custom-btn"><strong style="color: #fff">Submit</strong></button>
                <button type="button" class="btn btn-default custom-btn" onclick="showReviewForm()" style="float: right;"><strong style="color: #fff;">Close</strong></button>
            </form>
        </div>
    {% endif %}
    <div class="box">
        {% for feedback in all_feedbacks %}
            <div class="row" style="margin-bottom: 12px;">
                <div class="col-xs-4">
                    <img src="{% if feedback.buyer.avatar %}{{ feedback.buyer.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" style="height: 40px; width: 40px; border-radius: 50px;"><br>
                    <span class="tag label label-success" style="font-size: 9px;">{{ feedback.rating }}&nbsp;<i class="fa fa-star" aria-hidden="true" style="font-size: 9px;">&nbsp;</i></span><br>
                    <span class="tag label label-info" style="margin-top: 10px; font-size: 8px;">{{ feedback.buyer }}</span><br>
                </div>
                <div class="col-xs-8" style="text-align: justify; font-size: 12px;">
                    <h6><strong>{{ feedback.title }}</strong></h6>
                    <p>
                        {{ feedback.reviews }}
                    </p>
                    <small style="color: grey; font-size: 8px; float: right;">{{ feedback.created|date:"M d, Y" }}</small>
                </div>
            </div>
            <hr>   
        {% empty %}
            <div class="row">
                <h3 class="text-center" style="color: lightgrey;">No Feedback Yet</h3>   
            </div>
        {% endfor %}
    </div>    
</div>

<!--dekstop-view-->
<div class="container hidden-xs" style="width: 85%;">
    <div class="row" id="main_block" style="position: relative; margin-top: 20px;">
        <div class="col-sm-5">
            <div class="row" id="image_block">
                <div class="col-sm-3">
                    {% if design.avatar %}
                        <div class="row">
                            <img data-avatar="{{ design.avatar.url }}" class="p-left-image" src="{{ design.avatar.url }}" alt="">
                        </div>
                    {% endif %}
                    {% if design.avatar_1 %}
                        <div class="row">
                            <img data-avatar="{{ design.avatar_1.url }}" class="p-left-image" src="{{ design.avatar_1.url }}" alt="">
                        </div>
                    {% endif %}
                    {% if design.avatar_2 %}
                        <div class="row">
                            <img data-avatar="{{ design.avatar_2.url }}" class="p-left-image" src="{{ design.avatar_2.url }}" alt="">
                        </div>  
                    {% endif %}
                    {% if design.avatar_3 %}
                        <div class="row">
                            <img data-avatar="{{ design.avatar_3.url }}" class="p-left-image" src="{{ design.avatar_3.url }}" alt="">
                        </div>  
                    {% endif %}
                    {% if design.avatar_4 %}
                        <div class="row">
                            <img data-avatar="{{ design.avatar_4.url }}" class="p-left-image" src="{{ design.avatar_4.url }}" alt="">
                        </div> 
                    {% endif %}
                    {% if design.avatar_5 %}
                        <div class="row">
                            <img data-avatar="{{ design.avatar_5.url }}" class="p-left-image" src="{{ design.avatar_5.url }}" alt="">
                        </div> 
                    {% endif %}
                </div>
                <div class="col-sm-9" id="id_avatar_img">
                    <div class="row">
                        <img src="{{ design.avatar.url }}" id="image_detail_id" alt="" class="img-responsive p-main-image" data-imagezoom="true" data-zoomviewsize="[550,500]" border="1" style="">
                    </div>
                    <div class="row top-20">
                        <div class="pull-left" style="width: 47%">
                            <button type="button" class="btn btn-warning btn-lg btn-block cart-btn" onclick="add_to_cart({{ design.id }})"><strong><i class="fa fa-shopping-cart" aria-hidden="true"></i>ADD TO CART</strong></button>
                        </div>
                        <div class="pull-right" style="width: 47%">
                            <button type="button" class="btn btn-info btn-lg btn-block {% if not design.stock %} disabled {% endif %} buy-btn" onclick="add_to_cart_buy({{ design.id }})"><strong><i class="fa fa-bolt" aria-hidden="true"></i>BUY NOW</strong></button>
                        </div>
                    </div>
                </div>
            </div>   
        </div>

        <div class="col-sm-7" id="id_image_detail" style="margin-left: 25px; width: 55%;">
            <div class="article-card">
                <div class="row">
                    <h3 style="margin-top: -2px;">{{ design.name|title }}</h3>
                </div>
                <div class="row">
                    <hr style="margin-top: -10px;">
                </div>
                <div class="row">
                    <div class="pull-left">
                        <h5><strong><span class="tag label label-success" style="font-size: 12px;">{{ rating }}&nbsp;<i class="fa fa-star" aria-hidden="true" style="font-size: 11px;"></i></span>&nbsp;&nbsp;{{ total_rating }} ratings and {{ all_reviews }} reviews</strong></h5>
                    </div>
                    <div class="pull-right" style="margin-right: 50px;">
                        {% if request.user.is_authenticated %}
                            {% if role == 'buyer' %}
                                {% if design.buyer_set.all %}
                                    <button type="button" class="btn btn-default btn-circle-y btn-md" data-toggle="tooltip" title="remove from favorite" id="del_fav_{{ design.id }}" onclick="remove_from_favorite({{ design.id }})" style="float: right;"><i class="fa fa-heart fav-btn-y"></i></button>
                                    <button type="button" class="btn btn-default btn-circle-n btn-md" data-toggle="tooltip" title="add to favorite" id="add_fav_{{ design.id }}" onclick="add_to_favorite({{ design.id }})" style="float: right; display: none;"><i class="fa fa-heart fav-btn-n"></i></button>
                                {% else %}
                                    <button type="button" class="btn btn-default btn-circle-n btn-md" data-toggle="tooltip" title="add to favorite" id="add_fav_{{ design.id }}" onclick="add_to_favorite({{ design.id }})" style="float: right;"><i class="fa fa-heart fav-btn-n"></i></button>
                                    <button type="button" class="btn btn-default btn-circle-y btn-md" data-toggle="tooltip" title="remove from favorite" id="del_fav_{{ design.id }}" onclick="remove_from_favorite({{ design.id }})" style="float: right; display: none;"><i class="fa fa-heart fav-btn-y"></i></button>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <button type="button" class="btn btn-default btn-circle-n btn-md" data-toggle="tooltip" title="add to favorite" onclick="redirect_to_login()" style="float: right;"><i class="fa fa-heart fav-btn-n"></i></button>
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="display: inline-block; margin-top: 10px;">
                    <div class="pull-left">
                        <h4>
                            <i class="fa fa-rupee"></i><strong> {{ design.price }}</strong>
                            {% if design.stock %}
                                <span style="font-size: 15px; margin-left: 20px;">Availabe</span>&nbsp;&nbsp;<img src="{% static 'images/instock.png' %}" height="17" width="17">
                            {% else %}
                               <span style="font-size: 15px;  margin-left: 20px;">Out Of Stock</span>&nbsp;&nbsp;<img src="{% static 'images/close.png' %}" height="17" width="17">
                            {% endif %}
                        </h4>
                    </div>
                </div>
                <div  class="row">
                    <h5><strong>Available Sizes</strong>
                        <div style="margin-left: 10px; display: inline-block;">
                            {% for size in design.size.all %}
                                <button type="button" id="id_{{ size.id }}" class="btn btn-default btn-circle-n btn-md" onclick="get_size({{ size.id }} )" >{{ size.name }}</button>&nbsp;
                            {% endfor %}
                            <div class="alert alert-danger" role="alert" id="size_error" style="float: right; margin-top: -6px; margin-left: 20px; display: none;">
                                <span>please select the size</span>
                            </div>
                        </div>    
                    </h5>
                </div>
                <div class="row">
                    <h5><strong>Categories</strong>
                        <div style="margin-left: 117px; margin-top: -23px; font-size: 14px; line-height: 24px;">
                            {% for types in design.design_type.all %}
                                <li>{{ types.types }}</li>
                            {% endfor %}
                        </div>
                    </h5>
                </div>
                <div class="row">
                    <h5><strong>Ideal For</strong>
                        <div style="margin-left: 117px; margin-top: -23px; font-size: 14px; line-height: 24px;">
                            <li>{{ design.gender }}</li>
                        </div>
                    </h5>
                </div>
                <div class="row">
                    <h5><strong>Designer</strong>
                        <div style="margin-left: 117px; margin-top: -23px; font-size: 14px; line-height: 24px;">
                            <a href="" style="text-decoration: none;"><strong>{{ design.designer|title }}</strong></a>
                        </div>
                    </h5>
                </div>
                <div class="row" style="width: 98%; text-align: justify;">
                    <h5><strong>Description</strong></h5>
                    <p style="line-height: 26px;">{{ design.details }}</p>
                </div>
            </div>
            <h4 class="review-header"><strong>Feedbacks</strong></h4>
            {% if role == 'buyer' %}
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary btn-sm pull-right custom-btn" onclick="showReviewForm()"  style="margin-bottom: 10px; border-radius: 1px!important;"><i class="fa fa-plus" aria-hidden="true"></i>Submit Review</button>
                    </div>
                </div>
                <div class="row box" id="reviewform" style="margin-bottom: 12px; display: none;">
                    <h4><strong>Rate this Design</strong></h4>
                    <div class="modal-overlay" id="id_processing" style="position: fixed;">
                        <img src="{% static 'images/spin.svg' %}"/>
                    </div>
                    <form action="{% url 'create_feedback' %}" id="id_feedback" onsubmit="return create_feedback($(this))" method="post">
                        {% csrf_token %}
                        <div class="review-erros">
                            
                        </div>
                        <input type="hidden" name="design" value='{{ design.id }}'>
                        <div class="form-group">
                            <section class="rating_radio">
                                <input type="radio" name="rating" class="rating" value="1" />
                                <input type="radio" name="rating" class="rating" value="2" />
                                <input type="radio" name="rating" class="rating" value="3" />
                                <input type="radio" name="rating" class="rating" value="4" />
                                <input type="radio" name="rating" class="rating" value="5" />
                            </section>
                            <small id="id_rating_error" class="es-error"></small>
                        </div>
                        <hr>
                        <h4><strong>Review this Design</strong></h4>
                        <div class="form-group">
                            <label for="title">Title</label>
                            {{ form.title }}
                            <small id="id_title_error" class="es-error"></small>
                        </div>
                        <div class="form-group">
                            <label for="reviews">Description</label>
                            {{ form.reviews }}
                            <small id="id_reviews_error" class="es-error"></small>
                        </div>
                        <button type="Submit" class="btn btn-default custom-btn"><strong style="color: #fff">Submit</strong></button>
                        <button type="button" class="btn btn-default custom-btn" onclick="showReviewForm()" style="float: right;"><strong style="color: #fff;">Close</strong></button>
                    </form>
                </div>
            {% endif %}
            <div class="box">
                {% for feedback in all_feedbacks %}
                    <div class="row" style="margin-bottom: 12px;">
                        <div class="col-sm-3">
                            <img src="{% if feedback.buyer.avatar %}{{ feedback.buyer.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" style="height: 50px; width: 50px; border-radius: 50px; margin: 10px;"><br>
                            <span class="tag label label-info" style="margin-top: 10px;">{{ feedback.buyer }}</span>
                        </div>
                        <div class="col-sm-7" style="text-align: justify;">
                            <h5><strong>{{ feedback.title }}</strong></h5>
                            <p> 
                                {{ feedback.reviews }}
                            </p>
                            <small style="color: grey; font-size: 10px; float: right;">{{ feedback.created|date:"M d, Y" }}</small>
                        </div>
                        <div class="col-sm-2">
                            <span class="tag label label-success">{{ feedback.rating }}&nbsp;<i class="fa fa-star" aria-hidden="true" style="font-size: 10px;"></i></span>
                        </div>
                    </div>
                    <hr>   
                {% empty %}
                    <div class="row">
                        <h3 class="text-center" style="color: lightgrey;">No Feedback Yet</h3>   
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="notification" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 78px">
    <div class="modal-dial class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                <h5><strong id="text"></strong></h5>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/rating.css' %}" type="text/css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/imagezoom.js' %}"></script>
    <script src="{% static 'js/rating.js' %}"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
    var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36251023-1']);
      _gaq.push(['_setDomainName', 'jqueryscript.net']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


    $(document).ready(function() {
        $(function(){
            $('.rating_radio').rating();
        });

        $('[data-toggle="tooltip"]').tooltip();   

        $('[data-avatar]').hover(function(e) {
            $('#image_detail_id').attr('')
            e.preventDefault();
            $("#id_avatar_img").find("img").attr("src", $(this).attr("src"))    
            
        });
        $('[data-avatar]').hover(function(e) {
            $('#mb_image_detail_id').attr('')
            e.preventDefault();
            $("#mb_id_avatar_img").find("img").attr("src", $(this).attr("src"))    
            
        });
        parallexScroll($("#image_block"));
    });

    function showReviewForm() {
        var target = $('#reviewform');
        if (target.css('display') == 'none') {
            $("#reviewform").show(300);
            $("#mb_reviewform").show(300)
        } else {
            $("#reviewform").hide(300);
            $("#mb_reviewform").hide(300)
            $('#id_feedback')[0].reset();
        }
    }

    function redirect_to_login(){
        window.location.replace('/accounts/login');
    }

    function add_to_favorite(design_id){
        $.ajax({
            url: "/buyer/add-or-remove-favorite/",
            type: "POST",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id' : design_id,
                'action': "create_favorite"
            },
            success: function(response){
                response = JSON.parse(response);
                if (response.status){
                    $("#add_fav_"+response.id).hide();
                    $("#del_fav_"+response.id).show();
                    $("#mb_add_fav_"+response.id).hide();
                    $("#mb_del_fav_"+response.id).show();
                    $("#notification").modal('show');
                    $("#text").html(response.text)
                }

            }
        });
        return false;
    }

    function remove_from_favorite(design_id){
        $.ajax({
            url: "/buyer/add-or-remove-favorite/",
            type: "POST",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id' : design_id,
                'action': "remove_favorite"
            },
            success: function(response){
                response = JSON.parse(response);
                $("#add_fav_"+response.id).show();
                $("#del_fav_"+response.id).hide();
                $("#mb_add_fav_"+response.id).show();
                $("#mb_del_fav_"+response.id).hide();
                $("#notification").modal('show');
                $("#text").html(response.text)
            }
        });
        return false;
    }

    function create_feedback($this){
        $("#id_processing").show();
        $.ajax({
            url: $this.attr('action'),
            type: $this.attr('method'),
            data: $this.serialize(),
            datatype: JSON,
            success: function(response){
                $("#id_processing").hide();
                response = JSON.parse(response);
                debugger;

                if(response.status){
                    location.reload();

                }else{
                for(var i=0; i<response.errors.length; i++){
                    $this.find('#id_'+response.errors[i].key+'_error').text(response.errors[i].error);
                    $this.find('#id_'+response.errors[i].key+'_error').show();
                    $this.find('#mb_id_'+response.errors[i].key+'_error').text(response.errors[i].error);
                    $this.find('#mb_id_'+response.errors[i].key+'_error').show();
                }
            }
            }
        });
        return false;
    }

    s_size_id = ""

    function add_to_cart(design_id){
        if (s_size_id == ""){
        	window.scrollTo(0, 0);
            $("#size_error").show()
            $("#size_error").effect( "shake", {direction:'right'}, 200 );$("#size_error").show()
            $("#mb_size_error").show()
            $("#mb_size_error").effect( "shake", {direction:'right'}, 200 );
        }else{
            $.ajax({
                url: "/buyer/add-to-cart/",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'design_id' : design_id,
                    'size_id' : s_size_id,
                    'action' : 'None'
                },
                success: function(response){
                    response = JSON.parse(response);
                    if (response.status){
                        $("#notification").modal('show');
                        $("#text").html(response.text + "  <a href='buyer/my-cart/'> View cart</a>")
                    }

                }
            });
            return false;
        }    
    }

    function add_to_cart_buy(design_id){
        if (s_size_id == ""){
        	window.scrollTo(0, 0);
            $("#size_error").show()
            $("#size_error").effect( "shake", {direction:'right'}, 200 );$("#size_error").show()
            $("#mb_size_error").show()
            $("#mb_size_error").effect( "shake", {direction:'right'}, 200 );
        }else{
            $.ajax({
                url: "/buyer/add-to-cart/",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'design_id' : design_id,
                    'size_id' : s_size_id,
                    'action' : "add_and_buy"
                },
                success: function(response){
                    response = JSON.parse(response);
                    if (response.status){
                        window.location = response.next;
                    }

                }
            });
            return false;
        }    
    }
    function get_size(size_id){
        $("#size_error").hide()
        $("#mb_size_error").hide()
        s_size_id = size_id;
    }

    function parallexScroll(el) {
        var target = $("#main_block");

        var blockTop = target.offset().top;
        var blockBottom = blockTop + target.height();
        var elmLeft = el.offset().left;
        var elmWidth = el.width();
        var toTop = target.height() - el.height();

        $(window).scroll(function() {
            var scroll = window.scrollY + $(window).height();
            if( scroll > blockTop && scroll < blockBottom ) {
                el.addClass("fixed")
                    .removeClass("absolute")
                    .css("top", "none")
                    .css("width", elmWidth);
            } else {
                el.removeClass("fixed").addClass("absolute").css("top", toTop);
            }
        });
    }
    </script>
{% endblock %}
