{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<style type="text/css">
    body{
        background-image: url({% static 'images/background_profile.jpg' %});
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    @media screen and (max-width: 767px) {
        .multiselect{
            min-height: 43px;
            min-width: 311px;
        }
    }
    @media screen and (min-width: 991px) {
        .multiselect{
            min-height: 44px;
            min-width: 376px;
        }
    }
    .bootstrap-tagsinput{
        width: 376px;
        min-height: 45px;
    }
    
</style> 
<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumb profile-block" style="margin-top: -5px;">
            <li><a href="/">Home</a>
            </li>
            <li>Upload Designs</li>
        </ul>
    </div>
    <div class="col-md-3" style="margin-top: 10px">
        {% include "designer/base_designer.html" %}
    </div>
    <div class="col-md-9" style="margin-top: 10px;">
        <div class="box">
            <div class="row">
                <div class="col-md-12" style="font-family: times">
                    <div class="modal-overlay" id="id_processing" style="position: fixed;">
                        <img src="{% static 'images/spin.svg' %}"/>
                    </div>
                    <form id="signup_form" role="form" method="post" enctype="multipart/form-data" onsubmit="show()" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="id_avatar"><strong>Image 1</strong></label>
                                    <div id="id_avatar_img" style="cursor: pointer;" class="avatar_img">
                                        <img src="{% static 'images/blank_design.jpg' %}" alt="Cinque Terre">
                                    </div>
                                    {{ form.avatar }}
                                    <small class="es-error">{{ form.avatar.errors.as_text }}</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="id_avatar_1"><strong>Image 2</strong></label>
                                    <div id="id_avatar_img_1" style="cursor: pointer;" class="avatar_img">
                                        <img src="{% static 'images/blank_design.jpg' %}" alt="Cinque Terre">
                                    </div>
                                    {{ form.avatar_1 }}
                                    <small class="es-error">{{ form.avatar_1.errors.as_text }}</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="id_avatar_2"><strong>Image 3</strong></label>
                                    <div id="id_avatar_img_2" style="cursor: pointer;" class="avatar_img">
                                        <img src="{% static 'images/blank_design.jpg' %}" alt="Cinque Terre">
                                    </div>
                                    {{ form.avatar_2 }}
                                    <small class="es-error">{{ form.avatar_2.errors.as_text }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">    
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="id_avatar_3"><strong>Image 4</strong></label>
                                    <div id="id_avatar_img_3" style="cursor: pointer;" class="avatar_img">
                                        <img src="{% static 'images/blank_design.jpg' %}" alt="Cinque Terre">
                                    </div>
                                    {{ form.avatar_3 }}
                                    <small class="es-error">{{ form.avatar_3.errors.as_text }}</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="id_avatar_4"><strong>Image 5</strong></label>
                                    <div id="id_avatar_img_4" style="cursor: pointer;" class="avatar_img">
                                        <img src="{% static 'images/blank_design.jpg' %}" alt="Cinque Terre">
                                    </div>
                                    {{ form.avatar_4 }}
                                    <small class="es-error">{{ form.avatar_4.errors.as_text }}</small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="id_avatar_5"><strong>Image 6</strong></label>
                                    <div id="id_avatar_img_5" style="cursor: pointer;" class="avatar_img">
                                        <img src="{% static 'images/blank_design.jpg' %}" alt="Cinque Terre">
                                    </div>
                                    {{ form.avatar_5 }}
                                    <small class="es-error">{{ form.avatar_5.errors.as_text }}</small>
                                </div>
                            </div>
                        </div> 
                        <div class="row" style="margin-top: 30px;">
                            <div class="col-md-6">
                                <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                                    <label for="id_name"><strong>Name of the Design</strong></label>
                                    {{ form.name }}
                                    <small class="es-error">{{ form.name.errors.as_text }}</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group {% if form.gender.errors %}has-error{% endif %}">
                                    <label for="id_gender"><strong>Category</strong></label>
                                    {{ form.gender }}
                                    <small class="es-error">{{ form.gender.errors.as_text }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if form.size.errors %}has-error{% endif %}">
                                    <label for="id_size"><strong>Available Size</strong></label><br>
                                    {{ form.size }}<br>
                                    <small class="es-error">{{ form.size.errors.as_text }}</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group {% if form.price.errors %}has-error{% endif %}">
                                    <label for="id_price"><strong>Price</strong></label>
                                    {{ form.price }}
                                    <small class="es-error">{{ form.price.errors.as_text }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if form.design_type.errors %}has-error{% endif %}">
                                    <label for="id_design_type"><strong>Design Category</strong></label><br>
                                    {{ form.design_type }}<br>
                                    <small class="es-error">{{ form.design_type.errors.as_text }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group {% if form.details.errors %}has-error{% endif %}">
                                    <label for="id_details"><strong>Details</strong></label>
                                    {{ form.details }}
                                    <small class="es-error">{{ form.details.errors.as_text }}</small>
                                </div>
                            </div>
                        </div>      
                        <div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-cloud-upload" aria-hidden="true"></i>Upload Design</button>
                        </div>
                    </form>
                </div>
            </div>  
        </div>
    </div>
</div>    

{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput-typeahead.css' %}">
{% endblock %}

{% block javascript %}

    <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
    <script src="{% static 'js/bloodhound.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>
    <script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>

    <script type="text/javascript">
        function show(){
            $("#id_processing").show();
        }

        $("#id_price").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        $(function(){
            var types_obj = new Bloodhound({
                datumTokenizer: function (datum) {
                    return Bloodhound.tokenizers.whitespace(datum.id);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/designer/get-dress-types/?q=%QUERY',
                    wildcard: '%QUERY',
                    filter: function (results) {
                        return results
                    }
                },
            });
            types_obj.initialize();

            var elt = $('#id_design_type');
            elt.tagsinput({
                freeInput:true,
                typeaheadjs: {
                    name: 'title',
                    limit: 20,
                    source: types_obj.ttAdapter()
                }
            });
                
        });
        
        {% for types in design.design_type.all %}
            $('#id_design_type').tagsinput('add', "{{ types.types }}");
        {% endfor %}

        $(function(){
            $(".tt-input").on('blur', function(){
                $(this).val('');
            })
        })  
        $(document).ready(function() {
            $('#id_size').multiselect();
           
            $("#id_size").on('change',function(e){
                if( $(this).val() !== null ){
                    $("#id_size").closest('.form-group').removeClass('has-error');
                    $("#id_size").closest('.form-group').find('.es-error').hide();
                }else{
                    $("#id_size").closest('.form-group').addClass('has-error');
                    $("#id_size").closest('.form-group').find('.es-error').show();
                }
                
            });
       
        });
        
        $("#id_avatar").on('change', function () {
            var image_holder = $("#id_avatar_img");
            image_holder.empty();
            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result
                }).appendTo(image_holder);

            }
            $("#design_image").addClass('design_img')

            image_holder.show();

            $("#image_error").hide();
            reader.readAsDataURL($(this)[0].files[0]);
        });

        $("#id_avatar").css("display", "none");
        $("#id_avatar_img").on("click", function(){
            $("#id_avatar").trigger("click");
        });

        $("#id_avatar_1").on('change', function () {
            var image_holder = $("#id_avatar_img_1");
            image_holder.empty();
            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result
                }).appendTo(image_holder);

            }
            image_holder.show();

            reader.readAsDataURL($(this)[0].files[0]);
        });

        $("#id_avatar_1").css("display", "none");
        $("#id_avatar_img_1").on("click", function(){
            $("#id_avatar_1").trigger("click");
        });

        $("#id_avatar_2").on('change', function () {
            var image_holder = $("#id_avatar_img_2");
            image_holder.empty();
            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result
                }).appendTo(image_holder);

            }
            image_holder.show();

            reader.readAsDataURL($(this)[0].files[0]);
        });

        $("#id_avatar_2").css("display", "none");
        $("#id_avatar_img_2").on("click", function(){
            $("#id_avatar_2").trigger("click");
        });

        $("#id_avatar_3").on('change', function () {
            var image_holder = $("#id_avatar_img_3");
            image_holder.empty();
            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result
                }).appendTo(image_holder);

            }
            image_holder.show();

            reader.readAsDataURL($(this)[0].files[0]);
        });

        $("#id_avatar_3").css("display", "none");
        $("#id_avatar_img_3").on("click", function(){
            $("#id_avatar_3").trigger("click");
        });

        $("#id_avatar_4").on('change', function () {
            var image_holder = $("#id_avatar_img_4");
            image_holder.empty();
            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result
                }).appendTo(image_holder);

            }
            image_holder.show();

            reader.readAsDataURL($(this)[0].files[0]);
        });

        $("#id_avatar_4").css("display", "none");
        $("#id_avatar_img_4").on("click", function(){
            $("#id_avatar_4").trigger("click");
        });

        $("#id_avatar_5").on('change', function () {
            var image_holder = $("#id_avatar_img_5");
            image_holder.empty();
            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result
                }).appendTo(image_holder);

            }
            image_holder.show();

            reader.readAsDataURL($(this)[0].files[0]);
        });

        $("#id_avatar_5").css("display", "none");
        $("#id_avatar_img_5").on("click", function(){
            $("#id_avatar_5").trigger("click");
        });
        $('#id_avatar,#id_avatar_2, #id_avatar_3, #id_avatar_4, #id_avatar_5, #id_avatar_1').change(function () {
            var ext = this.value.match(/\.(.+)$/)[1];
            switch (ext) {
                case 'jpg':
                case 'jpeg':
                case 'png':
                case 'gif':
                    $('#uploadButton').attr('disabled', false);
                    break;
                default:
                    alert('This is not an allowed file type.');
                    this.value = '';
                    location.reload();
            }
        });


    </script>

{% endblock %}
