{% extends 'base.html' %}
{% load staticfiles %}

{% block content %} 
<style type="text/css">
    body{
        background-image: url({% static 'images/background_profile.jpg' %});
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style> 

<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumb profile-block" style="margin-top: -5px;">
            <li><a href="/">Home</a>
            </li>
            <li>Change Password</li>
        </ul>
    </div>
    <div class="col-md-3" style="margin-top: 10px">
        <div class="panel panel-default sidebar-menu">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>&nbsp;&nbsp;&nbsp;My Accounts</strong></h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="{% if role == 'designer' %}{% url 'profile' request.user.username %}{% else %}{% url 'buyer_profile' request.user.username %}{% endif %}"><i class="fa fa-user"></i>Profile</a>
                    </li>
                    <li>
                        <a href="{% if role == 'designer' %}{% url 'edit_designer' %}{% else %}{% url 'edit_buyer' %}{% endif %}"><i class="fa fa-pencil"></i>Edit Profile</a>
                    </li>
                    <li class="{% if  current == 'reset_password' %}active{% endif %}">
                        <a href="{% url 'change_password' %}"><i class="fa fa-lock"></i>Change Password</a>
                    </li>
                    {% if role == 'designer' %}
                        <li>
                            <a href="{% url 'upload_design' %}"><i class="fa fa-plus"></i>Upload Design</a>
                        </li>
                        <li>
                            <a href="{% url 'design_requests_designer' %}"><i class="fa fa-bookmark" aria-hidden="true"></i>Design Request</a>
                        </li>
                        <li>
                            <a href="{% url 'my_designs' %}"><i class="fa fa-list"></i>My Design</a>
                        </li>
                    {% else %}
                         <li>
                            <a href="{% url 'my_recent_views' %}"><i class="fa fa-eye"></i>Recently Viewed</a>
                        </li>
                        <li>
                            <a href="{% url 'my_favorites' %}"><i class="fa fa-heart" aria-hidden="true"></i>My Favorites Design</a>
                        </li>
                        <li>
                            <a href="{% url 'requested_design' %}"><i class="fa fa-bookmark" aria-hidden="true"></i>Design Request</a>
                        </li>
                    {% endif %}    
                    <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9" style="margin-top: 10px;">
        <div class="box">
        	<div class="row">
	        	<div class="col-md-12" style="font-family: times">
                    <form class="form-horizontal" id="chng_pass" method="post" data-toggle="validator" style="color: black; margin-top: 20px;">
                        {% csrf_token %}
                        <div class="form-group {% if form.old_password.errors %}has-error{% endif %}">
                            <div class="col-md-12">
                                <label for="id_old_password" class="control-label">Old Password:</label>
                                {{ form.old_password }}
                                <small class="es-error">{{ form.old_password.errors.as_text }}</small>
                            </div>
                        </div>
                        <div class="form-group {% if form.new_password.errors %}has-error{% endif %}">
                            <div class="col-md-12">
                                <label for="id_new_password" class="control-label">New Password:</label>
                                {{ form.new_password }}
                                <small class="es-error">{{ form.new_password.errors.as_text }}</small>
                            </div>
                        </div>
                        <div class="form-group {% if form.confirm_password.errors %}has-error{% endif %}">
                            <div class="col-md-12">
                                <label for="id_confirm_password" class="control-label">Confirm Password:</label>
                                {{ form.confirm_password }}
                                <small class="es-error">{{ form.confirm_password.errors.as_text }}</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input class="btn btn-primary btn-md" type="submit" value="Change Password"/ style="width: 180px;">
                            </div>
                        </div>
                    </form>
	        	</div>
	        </div>	
        </div>
    </div>
</div>    

{% endblock %}

{% block javascript %}


{% endblock %}
