{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
    body{
        background-image: url({% static 'images/background_profile.jpg' %});
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style> 
<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumb profile-block" style="margin-top: -5px;">
            <li><a href="/">Home</a>
            </li>
            <li>Edit Profile</li>
        </ul>
    </div>
    <div class="col-md-3" style="margin-top: 10px">
        {% include "buyer/base_buyer.html" %}
    </div>
    <div class="col-md-9" style="margin-top: 10px;">
        <div class="box">
        	<div class="row">
	        	<div class="col-md-12" style="font-family: times">
                    <form id="signup_form" role="form" method="post" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                         <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_avatar"><strong>Avatar</strong></label>
                                    <div id="id_avatar_img" style="cursor: pointer;" class="avatar_img">
                                        <img src="{% if buyer.avatar %}{{ buyer.avatar.url }}{% else %}{% static 'images/nodp.jpg' %}{% endif %}" alt="Cinque Terre">
                                    </div>
                                    {{ form.avatar }}
                                    <small class="es-error">{{ form.avatar.errors.as_text }}</small>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
                                    <label for="id_first_name"><strong>First Name</strong></label>
                                    {{ form.first_name }}
                                    <small class="es-error">{{ form.first_name.errors.as_text }}</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
                                    <label for="id_last_name"><strong>Last Name</strong></label>
                                    {{ form.last_name }}
                                    <small class="es-error">{{ form.last_name.errors.as_text }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                                    <label for="id_email"><strong>Email</strong></label>
                                    {{ form.email }}
                                    <small class="es-error">{{ form.email.errors.as_text }}</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group {% if form.phone_no.errors %}has-error{% endif %}">
                                    <label for="id_phone_no"><strong>Phone No</strong></label>
                                    {{ form.phone_no }}
                                    <small class="es-error">{{ form.phone_no.errors.as_text }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group {% if form.street1.errors %}has-error{% endif %}">
                                    <label for="id_address"><strong>Address</strong> </label>
                                    {{ form.address }}
                                    <small class="es-error">{{ form.address.errors.as_text }}</small>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if form.city.errors %}has-error{% endif %}">
                                    <label for="id_city"><strong>City</strong></label>
                                    {{ form.city }}
                                    <small class="es-error">{{ form.city.errors.as_text }}</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group {% if form.state.errors %}has-error{% endif %}">
                                    <label for="id_phone_no"><strong>State</strong></label>
                                    {{ form.state }}
                                    <small class="es-error">{{ form.state.errors.as_text }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if form.postal_code.errors %}has-error{% endif %}">
                                    <label for="id_postal_code"><strong>Postal Code</strong></label>
                                    {{ form.postal_code }}
                                    <small class="es-error">{{ form.postal_code.errors.as_text }}</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group {% if form.country.errors %}has-error{% endif %}">
                                    <label for="id_country"><strong>Country</strong></label>
                                    {{ form.country }}
                                    <small class="es-error">{{ form.country.errors.as_text }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if form.gender.errors %}has-error{% endif %}">
                                    <label for="id_phone_no"><strong>Gender</strong></label>
                                    {{ form.gender }}
                                    <small class="es-error">{{ form.gender.errors.as_text }}</small>
                                </div>
                            </div>
                        </div>     
                        <div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i>Update Profile</button>
                        </div>
                    </form>
	        	</div>
	        </div>	
        </div>
    </div>
</div>    

{% endblock %}

{% block javascript %}


    <script type="text/javascript">
        msg = "This field is required."

        $("#id_phone_no").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        
        $("#id_avatar").on('change', function () {
            var image_holder = $("#id_avatar_img");
            image_holder.empty();
            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result
                }).appendTo(image_holder);

            }
            image_holder.show();
            $("#id_default_avatar").val("");

            $("#image_error").hide();
            reader.readAsDataURL($(this)[0].files[0]);
        });

        $("#id_avatar").css("display", "none");
        $("#id_avatar_img").on("click", function(){
            $("#id_avatar").trigger("click");
        });
        $('#id_avatar').change(function () {
            var ext = this.value.match(/\.(.+)$/)[1];
            switch (ext) {
                case 'jpg':
                case 'jpeg':
                case 'png':
                case 'gif':
                    $('#uploadButton').attr('disabled', false);
                    break;
                default:
                    alert('This is not an allowed file type.');
                    this.value = '';
                    location.reload();
            }
        });

    </script>

{% endblock %}
