{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
    .emptycart{
        width:150px;
        height:120px;
        left:50%;
        top:50%;
        margin: 100px 0 0 474px;
    }
</style>
<div class="container">
    {% if my_carts %}
        <div class="col-sm-9" id="basket">
            <div class="box">
                <h1>Shopping cart</h1>
                <p class="text-muted">You currently have {{ total_items }} item(s) in your cart.</p>
                <div class="modal-overlay" id="id_processing" style="position: fixed;">
                    <img src="{% static 'images/spin.svg' %}"/>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">Product</th>
                                <th>Size</th>
                                <th>Unit price</th>
                                <th>Discount</th>
                                <th colspan="2">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for items in my_carts %}
                            <tr id="id_{{ items.id }}">
                                <td>
                                    <a href="{% url 'product_details' items.design.name|slugify items.design.id %}">
                                        <img src="{{ items.design.avatar.url }}" alt="White Blouse Armani">
                                    </a>
                                </td>
                                <td><a href="{% url 'product_details' items.design.name|slugify items.design.id %}">{{ items.design.name }}</a>
                                </td>
                                <td>
                                    <h5>{{ items.size }}</h5>
                                </td>
                                <td>{{ items.design.price }}</td>
                                <td>0.00</td>
                                <td>{{ items.design.price }}</td>
                                <td><i class="fa fa-trash-o" onclick="delete_items({{ items.id }})" style="color: red; cursor: pointer;"></i>
                                </td>
                            </tr>
                        {% endfor %}    
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="5">Total</th>
                                <th colspan="2"><i class="fa fa-rupee">&nbsp;</i>{{ total_sum }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="box-footer">
                    <div class="pull-left">
                        <a href="/all-designs/" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
                    </div>
                    <div class="pull-right">
                        <a href="/buyer/my-cart/">
                            <button class="btn btn-default"><i class="fa fa-refresh" onclick="/"></i> Update basket</button>
                        </a>
                        <a href="{% url 'get_delivery_address' %}">
                            <button type="submit" class="btn btn-primary">Order Now<i class="fa fa-chevron-right"></i></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="box" id="order-summary">
                <div class="box-header">
                    <h3>Order summary</h3>
                </div>
                <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Order subtotal</td>
                                <th><i class="fa fa-rupee">&nbsp;</i>{{ total_sum }}</th>
                            </tr>
                            <tr>
                                <td>Shipping and handling</td>
                                <th><i class="fa fa-rupee">&nbsp;</i>0.00</th>
                            </tr>
                            <tr>
                                <td>Tax</td>
                                <th><i class="fa fa-rupee">&nbsp;</i>0.00</th>
                            </tr>
                            <tr class="total">
                                <td>Total</td>
                                <th><i class="fa fa-rupee" style="font-weight: 700">&nbsp;{{ total_sum }}</i></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-md-12">
            <img class="emptycart" src="{% static 'images/cart-empty.png' %}">
            <div class="row" style="margin-top: 10px;">
                <h3 style="text-align: center;">Your Shopping Bag is empty</h3>
            </div>
            <div class="row" style="margin-top: 10px;">
                <h4 style="text-align: center;"><a href="/all-designs/">Add items to cart</a></h4>
            </div>
        </div>
    {% endif %}    
</div>

{% endblock %}

{% block javascript %}


    <script type="text/javascript">
        function delete_items(items_id) {
            $("#id_processing").show();
            $.ajax({
                url: "/buyer/delete-cart-items/",
                type: "GET",
                data: {
                    'items_id' : items_id,
                },
                success: function(response){
                    response = JSON.parse(response);
                    if (response.status) {
                        $("#id_processing").hide();
                        $("#id_delete_modal").modal("hide");
                        $("#id_"+items_id).remove();
                        location.reload();

                    }
                }
            });
        return false;
       }

    </script>

{% endblock %}
