
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
    body{
        background-image: url({% static 'images/contact-bg.jpg' %});
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style> 
<div class="container">

    <div class="col-sm-12">
        <div class="box" id="contact">
            <h1>Contact</h1>

            <p class="lead">Are you curious about something? Do you have some kind of problem with our products?</p>
            <p>Please feel free to contact us, our customer service center is working for you 24/7.</p>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <h3><i class="fa fa-phone"></i> Call center</h3>
                    <p class="text-muted">
                    Fashions Celio's 24*7 Customer Care Number is always at your service to help you with problem, you can contact us anytime.
                    <p><strong>+91-98-2818-0758</strong></p>
                    <p><strong>+91-70-7360-8539</strong></p>

                </div>
                <div class="col-sm-6">
                    <h3><i class="fa fa-envelope"></i> Electronic support</h3>
                    <p class="text-muted">Please feel free to write an email to us or to use our electronic ticketing system.</p>
                    <strong><a href="mailto:">fashionbuddies14@gmail.com</a></strong>
                </div>
            </div>
            <hr>
            <h2>Contact form</h2>
            <form method='post' action='{% url "contact_us" %}'>
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="firstname">Firstname</label>
                            {{ form.first_name }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="lastname">Lastname</label>
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="subject">Phone No</label>
                            {{ form.phone_no }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="message">Message</label>
                            {{ form.message }}
                        </div>
                    </div>

                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send message</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>    
{% endblock %}
{% block javascript %}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

    <script type="text/javascript">
        function initialize() {
            var mapOptions = {
                zoom: 15,
                center: new google.maps.LatLng(49.1678136, 16.5671893),
                mapTypeId: google.maps.MapTypeId.ROAD,
                scrollwheel: false
            }
            var map = new google.maps.Map(document.getElementById('map'),
                mapOptions);

            var myLatLng = new google.maps.LatLng(49.1681989, 16.5650808);
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock %}